.colorTokenList {
  margin-top: var(--ds-size-8);
}

.colorSection {
  margin-top: var(--ds-size-12);
}

.colorSection h3 {
  margin-block-end: var(--ds-size-8);
}

.colorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.group {
  display: flex;
  align-items: flex-start;
  gap: var(--ds-size-4);
}

.groupLabel {
  align-items: center;
  height: 50px;
  display: flex;
  flex: 0 0 10ch;
}

.group + .group {
  margin-top: var(--ds-size-6);
}

.groupContent {
  flex: 1;
  min-inline-size: 0;
}

.bar {
  display: flex;
  gap: 2px;
  block-size: var(--ds-size-14);
}

.segment {
  flex: 1;
  border: 1px solid var(--ds-color-border-subtle);
  border-radius: var(--ds-border-radius-md);
}

.labels {
  display: flex;
  margin-top: var(--ds-size-2);
}

.label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.variant,
.hex {
  font-size: var(--ds-body-xs-font-size);
}

.hex {
  text-transform: uppercase;
}
