.heading {
	margin-bottom: var(--ds-size-2);
}

.heading:where(h1) {
	margin-top: 0;
} 

.heading:where(h2) {
	margin-top: var(--ds-size-13);
}

.heading:where(h3, h4, h5, h6) {
	margin-top: var(--ds-size-4);
}

.heading:first-child {
	margin-top: 0;
}

.divider {
	margin-block: var(--ds-size-13);
}

.paragraph {
	margin-block: var(--ds-size-2) var(--ds-size-5);
}

.ingress {
	margin-inline: 0;
	margin-block: var(--ds-size-6);
}

.ingress p {
	line-height: var(--ds-line-height-lg);
	font-size: var(--ds-body-lg-font-size);
}

.list {
	margin-block: 0 var(--ds-size-4);
	padding-inline-start: 1.25rem;
}

.listItem {
	margin-top: var(--ds-size-1);
}

.link {
	color: var(--ds-color-neutral-text-default);
}
